<h1>Автор? Добавьте свой курс!</h1>

<form action="/add" method="POST">
    <div class="input-field col s6">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название курса"></span>
    </div>

    <div class="input-field col s6">
        <input id="price" name="price" type="number" class="validate" required min="1">
        <label for="price">Стоимость курса</label>
        <span class="helper-text" data-error="Введите стоимость курса"></span>
    </div>

    <div class="input-field col s6">
        <input id="img" name="img" type="url" class="validate" required>
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите url картинки"></span>
    </div>

    <input type="submit" class="btn btn-primary">
</form>